apiVersion: v1
data:
  group: |
    root:x:0:
    user:x:4096:
  passwd: |
    root:x:0:0:root:/root:/bin/bash
    user:x:4096:4096::/home/user:/usr/sbin/nologin
kind: ConfigMap
metadata:
  name: usergroup